<section class="comments" id="comments"></section>


{{!-- <div class="container">
    <div class="header-container">
        <div class="comments-container">
            <i class="fa fa-comment"></i>
            <h1 class="comment-title"> 5 Comments</h1>
        </div>
        <div class="button-container">
            <div class="one">
                <a href="#"><button class="round">Sort</button></a>
            </div>
                <div class="one">
                <a href="#"><button class="round ml-2">Likes</button></a>
            </div>
        </div>
    </div>

    <div class="detail-container">
        <div class="title-container">
            <div class="title">
                UserName
            </div>
            <div class="likes">
                12 Likes
            </div>
        </div>
        <p class="description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, maxime corrupti dolor saepe, hic vel omnis nostrum totam, ad doloribus maiores! A quisquam accusamus ratione, harum fuga inventore ducimus beatae!</p>
    </div>
</div> --}}
